ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    padding-right: 30px;
    margin-left: 40px;
    flex-direction: row-reverse;
    border-radius: 1;
    border-color: black;
}
nav{
    display: flex;
    padding: 20px 40px;
    background-color: rgb(120, 120, 230);
    width: 100%;
    transition: transform 0.3s ease,box-shadown 0.3s ease;
    position: fixed;
}
nav:hover{
    transform: scale(1.005);
    z-index: 20;
    /* box-sizing: border-box; */
}
i{  
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
i:hover{
    transform: scale(2.05);
    z-index: 20;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    position: fixed;
    top: 100px;
    left: 100px;
    font-size: 20px;
    color: white;
    text-emphasis-color: white;
}
.container h1{
    font-size: 80px;
    text-shadow: 0 0 3px #000000;
}

.image img{
    width: 100%;
}

.title{
    flex-grow: 2;
}
html{
    scrollbar-width: none;
}